// utils
@import './utils/vars';
@import './utils/mixins';
@import './utils/visually-hidden';


// base styles
@import './base/common';
@import './base/reset';
@import './base/conteiner';
@import './base/card-set';

// components
@import './components/logo';
@import './components/navigation';
@import './components/contacts';
@import './components/_button';
@import './components/modal-window';
@import './components/modal-forms';
@import './components/socials-icons';
@import './components/address';
@import './components/footer-form';

// layouts
@import './layouts/header';
@import './layouts/hero';
@import './layouts/specific-section';
@import './layouts/work-section';
@import './layouts/team-section';
@import './layouts/client-section';
@import './layouts/portfolio';
@import './layouts/footer-section';