.mobile-menu {

    display: flex;
    flex-direction: column;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    overflow: hidden;
    padding: 48px 40px;

    text-align: center;
    font-size: 20px;

    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);

    &.is-open {
        display: none;
    }


    &__nav {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.02em;
        text-align: start;
        color: #212121;

        .mobile-menu__item:not(:last-child) {
            margin-bottom: 32px;
        }

        .mobile-menu__link--current {
            color: var(--acent-cl);
        }

        .mobile-menu__link:hover,
        .mobile-menu__link:focus {
            color: var(--acent-cl);
        }

    }

    &__contacts {
        margin-top: auto;
        margin-bottom: 64px;
        text-align: start;



        color: #757575;

        .mobile-menu__item:not(:last-child) {
            margin-bottom: 32px;
        }

        .mobile-menu__link-tel {
            font-weight: 500;
            font-size: 34px;
            line-height: 1.17;

            letter-spacing: 0.02em;

            color: #2196F3;
        }

        .mobile-menu__link-mail {
            font-weight: 500;
            font-size: 24px;
            line-height: 1.17px;
            letter-spacing: 0.02em;

            color: #757575;
        }
    }

    &__socials {
        display: flex;
        gap: 10px;
        text-align: center;

        width: 100%;


        .mobile-menu__link {
            font-weight: 500;
            font-size: 18px;
            line-height: 1.22;

            padding-right: 10px;
            padding-left: 10px;

            letter-spacing: 0.02em;

            color: #2196F3;
        }

        .mobile-menu__item:not(:last-child) {
            border-right: 1px solid rgba(33, 33, 33, 0.2);
        }
    }





}

.btn-menu {
    display: none;

    margin-left: auto;

    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 100;

    &:focus,
    &:hover {
        fill: #2196F3;
    }

    @include mq(mobile-only) {
        display: inline-flex;
    }

    & .icon-close {
        display: none;
    }

    &.is-open .icon-close {
        display: block;
    }

    &.is-open .icon-open {
        display: none;
    }
}