.footer-section {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--acent-bg-cl);



}

.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;


    @include mq(tablet) {

        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }



}