.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 200px;
  padding-top: 200px;

  text-align: center;
  background-color: var(--acent-bg-cl);

  background-size: cover;
  background-repeat: no-repeat;

  // Завантаження звичайного фонового зображення для всіх типів пристроїв та Retina
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(./images/hero-section/bg-img_sm.jpg);

  @include mq(retina) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-section/bg-header-img@2x_sm.jpg);
  }

  @include mq(tablet) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(./images/hero-section/bg-header-img_md.jpg);

    @include mq(retina) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(./images/hero-section/bg-header-img@2x_md.jpg);
    }
  }

  @include mq(desktop) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(./images/hero-section/bg-header-img_lg.jpg);

    @include mq(retina) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(./images/hero-section/bg-header-img@2x_lg.jpg);
    }
  }

  @include mq(mobile-only) {
    max-width: 100%;
  }
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--bg-cl);

  @include mq(not-desktop) {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}
